* {
    box-sizing: border-box;
    background-color: #000000;
    padding: 0;
    margin:0;
    
}

.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 32px;
    position: fixed;
    opacity: 1;
    width: 100%;
}


a {
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

li {
    font-size: 16px;
    display: inline-block;
}
h1 {
    color:black;
  
}
h2 {
    color:#ffffff;
    text-align:center;
    padding: 64px;
}
.hero-section {
    width:100%;
    height:auto;
}

img {
    max-width:100%;
    height:auto;
}

.gallery-container {
    width: 100%;
}

.cocktail-image-left {
    float: right;
    width:50%;
    height:auto;
}

.cocktail-image-right {
    float: left;
    width:50%;
    height:auto;
    margin:3px;
    
}


   
    


    



